*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
ul{
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a{
    background-color: #fff;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.logo img:hover{
    float: left;
    width: 150px;
    height: auto;
    background-image: url(../attends.png);
    
}
.main
{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
        font-size: 50px;
        text-align: center;
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: black;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(4.png);
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    
}
.bg{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body {
    background-image: url('../2.jpg');
}
.c1{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%,-50%);
    background-image:url(../blue.jpg);

}
.c2{
    position: absolute;
    top: 80%;
    left: 78%;
    transform: translate(-50%,-50%);
    background-image:url(../blue.jpg);

}
.c1:hover{
    position: absolute;
    top: 78%;
    left: 20%;
    transform: translate(-50%,-50%);
    background-image:url(../blue.jpg);
}
.c2:hover{
    position: absolute;
    top: 78%;
    left: 78%;
    transform: translate(-50%,-50%);
    background-image:url(../blue.jpg);
}
.card h5{
    color: #fff;
    font-family: sans-serif;
    font-size: x-large;
    
}
.card:hover{
    box-shadow: 8px 7px lightblue;
}
